<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuxiaowei.cloud.passport.test.mapper.PassportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.xuxiaowei.cloud.passport.test.entity.Passport">
        <id column="passport_id" property="passportId" />
        <result column="passport_msg" property="passportMsg" />
        <result column="passport_num" property="passportNum" />
        <result column="remark" property="remark" />
        <result column="create_username" property="createUsername" />
        <result column="update_username" property="updateUsername" />
        <result column="create_ip" property="createIp" />
        <result column="update_ip" property="updateIp" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
